name: test

on:
  push:
    branches:
    - "*"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v2
    - uses: Swatinem/rust-cache@v2
    - run: cargo test
